:root{
    --color1: #B7B1F2;
    --color2: #FDB7EA;
    --color3: #FFDCCC;
    --color4: #FBF3B9;
}
body{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: var(--color3);
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    background-color: var(--color4);
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    border-radius: 16% 84% 38% 62% / 29% 37% 63% 71%;
}
.headerImg{
    width: 200px;
    height: 200px;
}
.juego{
    background-color: var(--color1);
    width: 100%;
    height: 55vh;
    text-align: center;
    border-radius: 37% 63% 43% 57% / 41% 55% 45% 59%;
}
h3{
    font-size: 45px;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.inputAmigo{
    height: 50px;
    width: 300px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;

}
.btnAgregar{
    height: 50px;
    width: 130px;
    font-size: 30px;
    border-radius: 30px;
    background-color: var(--color2);
    font-weight: bold;
}
.btnSorteo{
    background-color: var(--color2);
    font-weight: bold;
    margin: 10px;
    height: 50px;
    width: 130px;
    font-size: 30px;
    border-radius: 30px;
}
#divLista, .amigoSorteado{
    font-size: 35px;
}